<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookHive - All Authors</title>
</head>
<body>
    <nav>
        <a href="{% url 'dashboard' %}">Dashboard</a>
         <a href="{% url 'create_author' %}">Add Author</a>
        <a href="{% url 'list_authors' %}">All Authors</a>
    </nav>
    <h1>All Authors</h1>

    <div style="display: flex;gap: 50px;">
        <!-- image , name , place are fields or atrributes mentioned in Author class (model) -->
        {% for writter in authors %}
            <div>
                <img src="{{writter.image.url}}" style="width: 100px;height: 100px;">
                <h4>{{writter.name}}</h4>
                <p>{{writter.place}}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>