*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
main h1{
    text-align: center;
}

.outer-div{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('images/log-bg.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

main{
    border:2px black solid;
    width:400px;
    padding: 30px;
    border-radius: 7px;
    backdrop-filter: blur(5px);
}

.input-box{
    position:relative;
}
.input-box input{
    width:100%;
    margin:10px 0px;
    padding: 6px 3px;
    border: none;
    outline: none;
    border:1px solid black;
    background: transparent;
    border-radius: 7px;
}
.input-box input::placeholder{
    color: black;
}
main input[type="submit"]{
    width: 100%;
    padding: 5px;
}

main input[type="submit"]:hover{
    background-color: rgb(94, 220, 94);
    color: white;
    font-weight: bold;
}

.new-account p{
    text-align: center;
}
.remember-password{
    display: flex;
    justify-content: space-between;
}

.input-box .icon{
    position: absolute;
    color: rgb(0, 42, 255);
    right:10px;
    top: 50%;
    transform: translateY(-50%);
}
.remember-password a{
    text-decoration: none;
    color: black;
}

.new-account a{
    text-decoration: none;
    color: rgb(201, 30, 30);
}